.about-container {
	width: 100%;
	height: 100%;
	padding: 0px 160px 30px 160px;

	text-align: justify;
	color: var(--color3);

	@media #{$tablet} {
		padding: 0px 100px 30px 100px;
	}

	@media #{$mobile} {
		padding: 0px 40px 30px 40px;
	}

	> .current-page {
		font-size: 26px;
		text-transform: capitalize;
		font-weight: bold;
		width: fit-content;

		@media #{$mobile} {
			font-size: 26px;
		}
	}
}
