.profile-container {
	width: 100%;
	height: 100%;
	padding: 0px 80px 30px 80px;

	color: var(--color3);

	@media #{$tablet} {
		padding: 0px 40px 30px 40px;
	}

	@media #{$mobile} {
		padding: 0px 20px 30px 20px;
	}

	> .profile {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 10px;

		width: max-content;
		max-width: 95%;
		height: max-content;

		margin: 0 auto;
		padding: 40px;
		border-radius: 15px;
		background-color: var(--color1);

		> .username-container {
			font-weight: bold;
			color: var(--color3);
			font-size: 20px;

			margin-top: 50px;
			max-width: 250px;

			.username {
				word-break: break-all;
			}
		}

		> .profile-image {
			border-radius: 50%;
			width: 150px;
			height: 150px;
			aspect-ratio: 1 / 1;
			object-fit: cover;
		}

		> button {
			border: 0;
			padding: 10px 20px;
			margin-top: 20px;
			border-radius: 20px;
			cursor: pointer;

			@media #{$tablet} {
				background-color: var(--color2);
				color: white;
			}
		}

		> button:hover {
			background-color: var(--color2);
			color: white;
		}

		> form {
			> input[type="file"] {
				display: none;
			}

			> .custom-file-upload {
				width: max-content;

				border: 1px solid var(--color3);
				display: inline-block;
				padding: 6px 12px;
				cursor: pointer;

				font-size: 14px;

				display: flex;
				align-items: center;
				justify-content: center;
				gap: 10px;
			}
		}
	}
}
