.tasks-container {
	width: 100%;
	height: 100%;
	padding: 0px 80px 30px 80px;

	color: var(--color3);

	@media #{$tablet} {
		padding: 0px 40px 30px 40px;
	}

	@media #{$mobile} {
		padding: 0px 20px 30px 20px;
	}

	> .current-page {
		font-size: 26px;
		text-transform: capitalize;
		font-weight: bold;
		width: fit-content;
		margin-bottom: 20px;

		@media #{$mobile} {
			font-size: 26px;
			padding-left: 20px;
		}
	}

	> .grid-container {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: auto;
		grid-template-areas: "left-side middle right-side";
		justify-items: center;

		gap: 20px;

		@media #{$mobile} {
			grid-template-columns: 1fr;
			grid-template-rows: auto;
			grid-template-areas: "left-side" "middle" "right-side";
		}

		> .grid-left-side {
			grid-area: left-side;

			width: 100%;

			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			flex-wrap: wrap;

			padding: 20px;
			background-color: var(--color1);
			border-radius: 15px;

			> .tasks-bar {
				width: 100%;

				display: flex;

				margin-bottom: 20px;
				gap: 15px;

				> .tasks-type {
					font-size: 16px;
					font-weight: bold;
					margin-right: auto;
				}
			}
		}

		> .grid-middle {
			grid-area: middle;

			width: 100%;

			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			flex-wrap: wrap;

			padding: 20px;
			background-color: var(--color1);
			border-radius: 15px;

			> .tasks-bar {
				width: 100%;

				display: flex;

				margin-bottom: 20px;
				gap: 15px;

				> .tasks-type {
					font-size: 16px;
					font-weight: bold;
					margin-right: auto;
				}
			}
		}

		> .grid-right-side {
			grid-area: right-side;

			width: 100%;

			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			flex-wrap: wrap;

			padding: 20px;
			background-color: var(--color1);
			border-radius: 15px;

			> .tasks-bar {
				width: 100%;

				display: flex;

				margin-bottom: 20px;
				gap: 15px;

				> .tasks-type {
					font-size: 16px;
					font-weight: bold;
					margin-right: auto;
				}
			}
		}
	}

	> .no-tasks-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;

		font-size: 20px;

		> .create-task-container {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 10px;
		}
	}
}
