.navbar-container {
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;

	padding: 15px 5px 15px 30px;

	box-shadow: 0px -10px 16px rgba(0, 0, 0, 0.1882352941);

	> .grid-container {
		display: grid;
		grid-template-columns: auto max-content;
		grid-template-rows: auto;
		grid-template-areas: "left-side right-side";
		justify-items: end;

		> .grid-left-side {
			grid-area: left-side;

			width: 100%;

			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			align-items: center;
			justify-content: flex-start;

			> .site-name {
				font-size: 26px;
				font-weight: bold;
				color: var(--color3);
			}
		}

		> .grid-right-side {
			grid-area: right-side;

			width: 100%;

			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			align-items: center;
			justify-content: flex-start;
			gap: 20px;

			> a {
				font-weight: bold;
				color: var(--color3);
				text-decoration: none;
			}

			> a.router-link-exact-active {
				color: var(--color2);
			}

			> .username {
				font-weight: bold;
				color: var(--color3);

				margin-left: 30px;
			}
		}
	}
}
