.popup-container {
	width: max-content;
	max-width: 80%;
	height: max-content;
	background-color: var(--color1);
	color: var(--color3);
	position: fixed;
	left: 50%;
	top: 80px;
	transform: translate(-50%, -50%);
	padding: 10px 20px;
	border-radius: 20px;

	z-index: 60;
}
