.task-card-container {
	width: 100%;
	height: max-content;

	border-radius: 10px;
	padding: 10px 20px 20px 20px;
	margin-bottom: 20px;

	color: var(--color3);
	background-color: var(--color1);
	box-shadow: 0px 0px 6px rgb(0 0 0 / 5%);

	> .task-card-bar {
		width: 100%;

		display: flex;
		justify-content: flex-end;
	}

	> .task-card-content {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		display: flex;
		gap: 20px;

		> .task-title {
			font-size: 20px;
			font-weight: bold;
		}

		> .task-description {
			text-align: justify;
			white-space: break-spaces;
		}
	}
}
