$white1: #fff;
$white2: #ebebeb;
$white3: #e3e3e3;

$gray1: #292929;
$gray2: #2b2b2b;
$gray3: #373737;

$yellow: #fbb300;
$orange: #fb7100;

$font-size-desktop: 16px;

$icon-size-desktop: 26px;
$icon-size-tablet: 20px;
$icon-size-mobile: 16px;

$mobile: "(max-width: 700px)";
$tablet: "(max-width: 1200px)";
$desktop: "(min-width: 1201px)";

:root {
	--font-size1: #{$font-size-desktop};

	--icon-size: #{$icon-size-desktop};
	--icon-size2: #{$icon-size-desktop * 2};
}

@media #{$mobile} {
	:root {
		--icon-size2: #{$icon-size-mobile * 2};
	}
}

[data-theme="light"] {
	--color1: #{$white1};
	--color2: #{$orange};
	--color3: #{$gray1};
	--color4: #{$white3};
}

[data-theme="dark"] {
	--color1: #{$gray1};
	--color2: #{$yellow};
	--color3: #{$white1};
	--color4: #{$gray3};
}

@import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap";

@import "./App";
@import "./views/AboutView";
@import "./views/HomeView";
@import "./views/Tasks";

@import "./components/NavBar";
@import "./components/SettingsMenu";
@import "./components/TaskModal";
@import "./components/TaskCard";
@import "./components/OptionsMenu";
@import "./components/CreateTaskModal";

body {
	background-color: var(--color1);

	padding-top: 100px;
}

html {
	overflow-y: scroll;
	height: fit-content;
}

html,
body {
	box-sizing: border-box;
	margin: 0;
}
*,
*:before,
*:after {
	box-sizing: inherit;
	transition: 0.3s;
}

//SCROLLBAR

/* width */
::-webkit-scrollbar {
	width: 10px;

	@media #{$mobile} {
		display: none;
	}
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--color1);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--color1);
}
