@import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap";
:root {
  --font-size1: 16px;
  --icon-size: 26px;
  --icon-size2: 52px;
}

@media (max-width: 700px) {
  :root {
    --icon-size2: 32px;
  }
}
[data-theme=light] {
  --color1: #fff;
  --color2: #fb7100;
  --color3: #292929;
  --color4: #2b2b2b;
}

[data-theme=dark] {
  --color1: #292929;
  --color2: #fbb300;
  --color3: #fff;
  --color4: #2b2b2b;
}

.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 5px 15px 30px;
  box-shadow: 0px -10px 16px rgba(0, 0, 0, 0.1882352941);
}
.navbar-container > .grid-container {
  display: grid;
  grid-template-columns: auto max-content;
  grid-template-rows: auto;
  grid-template-areas: "left-side right-side";
  justify-items: end;
}
.navbar-container > .grid-container > .grid-left-side {
  grid-area: left-side;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.navbar-container > .grid-container > .grid-left-side > .site-name {
  font-size: 26px;
  font-weight: bold;
  color: var(--color3);
}
.navbar-container > .grid-container > .grid-right-side {
  grid-area: right-side;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
.navbar-container > .grid-container > .grid-right-side > a {
  font-weight: bold;
  color: var(--color3);
  text-decoration: none;
}
.navbar-container > .grid-container > .grid-right-side > a.router-link-exact-active {
  color: var(--color2);
}
.navbar-container > .grid-container > .grid-right-side > .username {
  font-weight: bold;
  color: var(--color3);
  margin-left: 30px;
}

.settings-menu-container {
  position: fixed;
  right: 0;
  top: 75px;
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 10px;
  padding: 20px;
  color: var(--color3);
  background-color: var(--color1);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.06);
}

body {
  background-color: var(--color1);
  padding-top: 50px;
}

html {
  overflow-y: scroll;
  height: -moz-fit-content;
  height: fit-content;
}

html,
body {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  transition: 0.3s;
}

#app {
  /* 	font-family: Avenir, Helvetica, Arial, sans-serif; */
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color3);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}
@media (max-width: 700px) {
  ::-webkit-scrollbar {
    display: none;
  }
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color1);
}/*# sourceMappingURL=index.css.map */